.socialmedia{
    color: white;
    display: flex; 
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #000, #000, #000, #bbd2c5, #000);

}
.social-icon{
    display: flex;
    justify-content: center;
    list-style: none;
}
.social-icon li{
    margin: 0 10px;
}
.social-icon li a{
    font-size: 36px;
    text-shadow: 0 0 0px;
    transition: 0.3s ease;
}
.social-icon li a:hover{
    text-shadow: 0 0 10px;
}